#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 1000;
    color: #fff;
}

/* navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

/* Download-button */

.Download-button {
    margin: 5% 3% 5% 0;
}

/* title-image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
}